
#WorkstationUi {
	background: white;
	border: 15px ridge rgb(37,119,169);
	border-radius: 10px;
}

/*====== my css ======*/
#contentStackedWidget {
        border: 0px solid #FFF;
        background: @accent1;
}

#pageWelcome_TitleFrame,
#pageConnection_TitleFrame,
#pageCable_TitleFrame,
#pagePatient_TitleFrame,
#pageProcedure_TitleFrame,
#pageUSBSaved_TitleFrame,
#pageHookup_TitleFrame,
#pageECG_TitleFrame,
#pageProcedureActive_TitleFrame,
#pageDownloadOptions_TitleFrame,
#pageDownload_TitleFrame,
#pageErase_TitleFrame,
#pageComplete_TitleFrame,
#pageDevice_TitleFrame,
#pageCompany_SupportFrame {
        border: 0px solid #FFF;
        background: @main-color;
}

#comment_Label,
#dob_Label,
#facility_Label,
#frameDate,
#frameDiagnosis,
#frameEditMedNotes,
#frameLabelActivity,
#frameLabelDiagnosis,
#frameLabelDiaryEntries,
#frameLabelSymptoms,
#frameMedicationNotes,
#frameSymptoms,
#frameTableDiary,
#grpDiaryEntries,
#label_2,
#lblActivity,
#lblDate,
#lblDiagnosis,
#lblDiaryEntries,
#lblMedicationNotes,
#lblSymptoms,
#pageCable_MainLabel,
#pageCable_SupportLabel,
#pageCompany_InfoLabel,
#pageComplete_SupportLabel,
#pageConnection_ChooseDevicelistWidget,
#pageConnection_MainLabel,
#pageConnection_MainLabel_3,
#pageConnection_SupportLabel,
#pageDevice_ApplicationDIInfoLabel,
#pageDevice_ApplicationDILabel,
#pageDevice_ApplicationVersionInfoLabel,
#pageDevice_ApplicationVersionLabel,
#pageDevice_BatteryInfoLabel,
#pageDevice_BatteryInfoProgressBar,
#pageDevice_MonitorFWVersionInfoLabel,
#pageDevice_MonitorFWVersionLabel,
#pageDevice_MonitorModelNumberInfoLabel,
#pageDevice_MonitorModelNumberLabel,
#pageDevice_MonitorSNInfoLabel,
#pageDevice_MonitorSNLabel,
#pageDevice_MuteCheckBox,
#pageDevice_MuteLabel,
#pageDownload_BT_Holter_Label,
#pageDownload_HTTP_Fail_Label,
#pageDownload_MainMessageLabel,
#pageDownloadOptions_MainLabel,
#pageDownloadOptions_SupportLabel,
#pageDownload_SendingToServer_Label,
#pageDownload_SupportLabel,
#pageECG_SupportLabel,
#pageErase_Erase_the_data_Label,
#pageHookup_SupportLabel,
#pagePatientMain_CommentFrame,
#pagePatient_SupportLabel,
#pageProcedureActive_MainLabel,
#pageProcedureActive_SupportLabel,
#pageProcedureMain_AdvancedOptionsLabel,
#pageProcedureMain_AfibComboBox,
#pageProcedureMain_AfibLabel,
#pageProcedureMain_AutoEvenetLimitComboBox,
#pageProcedureMain_AutoEvenetLimitLabel,
#pageProcedureMain_BatteryInfoLabel,
#pageProcedureMain_BatteryProgressBar,
#pageProcedureMain_BradyComboBox,
#pageProcedureMain_BradyLabel,
#pageProcedureMain_ManualEvenetLimitComboBox,
#pageProcedureMain_ManualEvenetLimitLabel,
#pageProcedureMain_ManualRecordingLengthLabel,
#pageProcedureMain_ManualRecordingLengthSpinBox,
#pageProcedureMain_PacemakerComboBox,
#pageProcedureMain_PacemakerLabel,
#pageProcedureMain_PauseComboBox,
#pageProcedureMain_PauseLabel,
#pageProcedureMain_PosttriggerComboBox,
#pageProcedureMain_PosttriggerLabel,
#pageProcedureMain_PretriggerComboBox,
#pageProcedureMain_PretriggerLabel,
#pageProcedureMain_RecordingLengthLabel,
#pageProcedureMain_RecordingLengthSelector,
#pageProcedureMain_SampleRateComboBox,
#pageProcedureMain_SampleRateLabel,
#pageProcedureMain_TachyComboBox,
#pageProcedureMain_TachyLabel,
#pageProcedureMain_TTMSpeedComboBox,
#pageProcedureMain_TTMSpeedLabel,
#pageProcedure_SupportLabel,
#pageUSBSaved_MainLabel,
#pageUSBSaved_SupportLabel,
#pageWelcome_SupportLabel,
#patientFirstName_Label,
#patientID_Label,
#patientID_LabelFrame,
#patientID_LineEditFrame,
#patientName_LabelFrame,
#patientName_LineEditFrame,
#physicianName_Label,
#physicianName_LabelFrame,
#physicianName_LineEditFrame,
#technicianName_Label,
#technicianName_LabelFrame,
#technicianName_LineEditFrame,
#webAddressLabel
{
		color: @main-color;
}

#pageDownload_HTTPPercentageLabel,
#pageErase_HTTPPercentageLabel,
#pageDownload_MainPercentageLabel,
#pageErase_MainPercentageLabel {
		color: @contrast-color;
}

#pageConnection_StatusFrame,
#pageCable_StatusFrame,
#pagePatient_StatusFrame,
#pageProcedure_StatusFrame,
#pageUSBSaved_StatusFrame,
#pageHookup_StatusFrame,
#pageECG_StatusFrame,
#pageProcedureActive_StatusFrame,
#pageDownloadOptions_StatusFrame,
#pageDownload_StatusFrame,
#pageErase_StatusFrame,
#pageComplete_StatusFrame,
#pageDevice_StatusFrame {
        border: 0px solid #FFF;
        background: @contrast-color;
}

#pageWelcome_MainFrame,
#pageWelcome_NextFrame,
#pageConnection_MainFrame,
#pageConnection_NextFrame,
#pageCable_MainFrame,
#pageCable_HolterFrame,
#pageCable_EventFrame,
#pageCable_PostFrame,
#pageCable_MCTFrame,
#pagePatient_MainFrame,
#pagePatient_NextFrame,
#pageProcedure_MainFrame,
#pageProcedure_MainScrollArea,
#pageProcedure_ScrollAreaWidgetContents,
#pagePatient_MainScrollArea,
#pagePatient_ScrollAreaWidgetContents,
#pageProcedure_NextFrame,
#pageUSBSaved_MainFrame,
#pageUSBSaved_NextFrame,
#pageHookup_MainFrame,
#pageHookup_NextFrame,
#pageECG_MainFrame,
#pageECG_NextFrame,
#pageProcedureActive_MainFrame,
#pageProcedureActive_DisconnectFrame,
#pageProcedureActive_EndProcedureFrame,
#pageDownloadOptions_MainFrame,
#pageDownloadOptions_ReviewFrame,
#pageDownloadOptions_DownloadFrame,
#pageDownloadOptions_EraseFrame,
#pageDownload_MainStackedWidget,
#pageDownload_NextFrame,
#pageErase_MainFrame,
#pageErase_EraseFrame,
#pageErase_BackFrame,
#pageComplete_MainFrame,
#pageComplete_NewProcedureFrame,
#pageDevice_MainFrame,
#pageDevice_ScrollArea,
#pageDevice_ScrollAreaWidgetContents,
#pageDevice_NextFrame,
#pageCompany_InfoFrame,
#pageCompany_NextFrame,
#pagePatientMain_CommentScrollArea {
        border: 0px solid #FFF;
        background: #FFFFFF;
}

#comment_LabelFrame,
#dob_LabelFrame,
#dob_LineEditFrame,
#facility_LabelFrame,
#facility_LineEditFrame,
#frameActivity,
#frameAddDiaryEntry,
#pageDevice_DetailedStatusFrame,
#pageDevice_InternetStatusFrame,
#pageProcedureMain_AdvancedOptionsFrame,
#patientID_LabelFrame,
#patientName_LabelFrame,
#physicianName_LabelFrame,
#technicianName_LabelFrame
{
        border: 0px solid #FFF;
        background: @accent2;
}

#dateTimeEditDiaryEntry,
#dateEditDiary,
#timeEditDiary,
#edtSiteCode,
#edtActivity,
#edtDiagnosis,
#edtSymptoms,
#facility_LineEdit,
#pagePatientMain_CommentTextEdit,
#patientDOB_dateEdit,
#patientFirstName_LineEdit,
#patientID_LineEdit,
#patientLastName_LineEdit,
#patientMiddleInitial_LineEdit,
#physicianName_LineEdit,
#technicianName_LineEdit,
#txtEditMedicationNotes,
#tableDiaryEntries
{
        border: 1px solid @main-color;
        border-radius: 5px;
        background: #FFFFFF;
		color: @main-color;
}

#pageConnection_GearButton,
#pageCable_GearButton,
#pagePatient_GearButton,
#pageProcedure_GearButton,
#pageUSBSaved_GearButton,
#pageHookup_GearButton,
#pageECG_GearButton,
#pageProcedureActive_GearButton,
#pageDownloadOptions_GearButton,
#pageDownload_GearButton,
#pageErase_GearButton,
#pageComplete_GearButton,
#pageDevice_GearButton {
        border-image:url(":out/images/ic_settings_48.png") no-repeat 1 1 1 1;
}

#pagePatient_BackButton,
#pageProcedure_BackButton,
#pageUSBSaved_BackButton,
#pageHookup_BackButton,
#pageECG_BackButton,
#pageDevice_BackButton {
        border-image:url(":out/images/back_arrow.png") no-repeat 1 1 1 1;
}

#pageWelcome_NextButton,
#pageConnection_NextButton,
#pageCable_HolterButton,
#pageCable_EventButton,
#pageCable_PostButton,
#pageCable_MCTButton,
#pagePatient_NextButton,
#pageProcedure_NextButton,
#pageHookup_NextButton,
#pageECG_NextButton,
#pageProcedureActive_DisconnectButton,
#pageDownloadOptions_ReviewButton,
#pageDownloadOptions_DownloadButton,
#pageDownload_DisconnectButton,
#pageErase_BackButton,
#pageErase_DisconnectButton
{
        border: 3px solid @contrast-color;
        border-radius: 10px;
        background: #FFFFFF;
		color: @contrast-color;
}

#btnAddDiaryEntry
{
        border: 3px solid @caution-color;
        border-radius: 10px;
        background: #FFFFFF;
		color: @caution-color;
}
#btnAddDiaryEntry:pressed {
		left: 8px;
		right: 12px;
		color: @contrast-color;
}

QHeaderView, QHeaderView::section {
    background-color: rgba(192, 192, 192, 192);
}

QTableWidget {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 black, stop:1 blue);
}

#pageComplete_NewProcedureButton:disabled,
#pageWelcome_NextButton:disabled,
#pageConnection_NextButton:disabled,
#pageCable_HolterButton:disabled,
#pageCable_EventButton:disabled,
#pageCable_PostButton:disabled,
#pagePatient_NextButton:disabled,
#pageProcedure_NextButton:disabled,
#pageHookup_NextButton:disabled,
#pageECG_NextButton:disabled,
#pageProcedureActive_DisconnectButton:disabled,
#pageDownloadOptions_ReviewButton:disabled,
#pageDownloadOptions_DownloadButton:disabled,
#pageDownload_DisconnectButton:disabled,
#pageDownload_DisconnectButton:disabled {
        border: 3px solid @disabled-color;
		color: @disabled-color;
}

#pageDevice_NextButton,
#pageCompany_NextButton {
        border: 3px solid @main-color;
        border-radius: 10px;
        background: #FFFFFF;
		color: @main-color;
}

#pageDevice_DisconnectPushButton,
#pageDevice_InternetConnectPushButton {
        border: 1px solid @main-color;
        border-radius: 5px;
        background: #FFFFFF;
		color: @main-color;
}

#pageProcedureActive_EndProcedureButton,
#pageComplete_NewProcedureButton {
        border: 3px solid @caution-color;
        border-radius: 10px;
        background: #FFFFFF;
		color: @caution-color;
}

#pageErase_EraseButton,
#pageDownloadOptions_EraseButton {
        border: 3px solid @caution-color;
        border-radius: 10px;
		background: white;
		color: @caution-color;
}

/*
#btnReScan {
	border-image:url("../viewer/out/images/ovalButton.png") no-repeat 1 1 1 1;
	width: 65px;
	height: 86px;
	margin-bottom: 10px; 
        padding: 5px 0px;
	margin: 2px 6px;
	color: #fff;
	font-weight: normal;
}

#btnReScan:hover {
	border-image:url("../viewer/out/images/ovalButton_hover.png") no-repeat 1 1 1 1;

}

#btnReScan:pressed {
	border-image:url("../viewer/out/images/ovalButton_pressed.png") no-repeat 1 1 1 1;
}

#btnReScan:disabled{
	border-image:url("../viewer/out/images/ovalButton_Disabled.png") no-repeat 1 1 1 1;
}
*/
